@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: blue;
  background-image: url(./images/Rectangle.png);
  background-size: cover;
}

.top-menu__row {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: right;
}

.top-menu {
  display: flex;
  height: 100%;
  width: 600px;
  margin-right: 405px;
}

.top-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.header h4 {
  margin-top: 319px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.header h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.blue-button {
  padding: 13px 36px 15px 36px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 63px;
}

.blue-button p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.mobile_apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
}

.mobile_apps_text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  margin-top: 110px;
  color: #323232;
}

.mobile_apps_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 50px;
  width: 730px;
  align-self: center;
}

.websites_block {
  margin-top: 80px;
  display: flex;
  width: 1110px;
}

.websites_block_each {
  flex: 1;
  display: flex;
  justify-content: center;
}

.websites_block_each_pic img {
  width: 90px;
  height: 90px;
  margin-top: 90px;
}

.websites_block_each_text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 116px;
}

.websites_block_each_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.vse_uslugi {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 13px 36px 15px 36px;
  margin-top: 55px;
  border: none;
  margin-bottom: 105px;
}

.vse_uslugi p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.standards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

.standards-header {
  width: 1110px;
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.standards-header_text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-top: 152px;
}

.standards-header_text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* grey */
  color: #999999;
  margin-top: 40px;
}

.standards-header_text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-decoration-line: underline;
  margin-top: 30px;

  /* Accent */
  color: #4985ff;
}

.standards-header_image {
  margin-top: 100px;
}

.line {
  border: 1px solid #e0e0e0;
  margin-top: 90px;
}

.standards-row {
  display: flex;
  width: 920px;
  justify-content: space-evenly;
  flex: 1;
  margin-top: 70px;
  gap: 120px;
  margin-bottom: 70px;
}

.standards-row__box {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.standards-row_top-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.standards-row_top-box img {
  margin-top: 11px;
  width: 30px;
  height: 26.47px;
}

.standards-row_top-box p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-top: 0;
}

.standards-row__box h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 100px;
  /* grey */
  color: #999999;
}

.focus {
  width: 100%;
  background-color: #504DC2#5F12D0
  
}
